<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css')}}">
</head>

<body>


  <div class="whole-container">
    <!--<div class="inner-container"></div>-->
    <header class="main panel red">
      <div class="inner">
        <div class="center">
          <h1 class="big">404</h1>
          <h2 class="big">page not found</h2>
          <h3 class="big">page not found</h3>
          <h4 class="big">page not found</h4>
        </div>

      </div>
    </header>

    <section class="panel blue">
      <div class="inner">

        <div class="half" style="height: 200">
        </div>
    </section>

  </div>
</body>

</html>